@use '@scss/set/variable' as var;

.quick{
    position:fixed;
    top:50%;
    right:3rem;
    padding:3rem 2rem;
    text-align:center;
    color:#464646;
    overflow:hidden;
    transform:translateY(-50%);
    z-index:99;
    .line{
        @include var.absDefault();
        width:100%;
        height:100%;
        overflow:visible;
        z-index:-1
    }
    .tail{
        stroke-dasharray:540px;
        stroke-dashoffset:540px
    }
    li:nth-child(n+2){
        margin-top:3rem
    }
}